.body-rigby{
    background-color: #98764D;
}
.body-mord{
    background-color: #85A9FE;
}
.body-pair{
    background-color: #FFD1D1;
}
body{
    font-family: Peace Sans;
}
.container-textimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
    .imagem{
    padding: 2%;
    margin-right: 20px;
    }
    .text {
    margin-left: 20px;
    margin-top: 3%;
    }
    .rota-instrução{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 11%;
    font-size: 30px;
    font-family: Peace Sans;
    }
    .rota-opções{
    font-size: 30px;
    } li{
        margin: 3%;
    }
    .chooseBtn{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 30px;
    font-family: Peace Sans;
    color: #ffff3f;
    background: rgb(77,18,255);
    background: linear-gradient(90deg, rgba(77,18,255,1) 0%, rgba(255,18,18,1) 100%);
    }

